{% extends 'base.html' %}
{% load static %}

{% block title %}SOCIAL EXPERTS - Home{% endblock %}
{% block meta_description %}Maximize your revenue by partnering with our dedicated team of SOCIAL EXPERTS. 10+ Years of Experience.{% endblock %}

{% block content %}

<!-- Hero Section Start =============================== -->
<section class="hero_section">
    <div class="container">
        <div class="row align-items-center hero_top">
            <div class="col-xl-6 col-lg-6">
                <div class="hero_content">
                    <span class="section_subtitle" data-aos="fade-up" data-aos-delay="100">
                        Best offers for you
                    </span>
                    <h1 class="hero_title" data-aos="fade-up" data-aos-delay="200">
                       Maximize your revenue by partnering with our dedicated team of <span style="color: #4C40F7;"> SOCIAL EXPERTS</span>.
                    </h1>
                    <p class="hero_text" data-aos="fade-up" data-aos-delay="300">
                        We have almost 10+ Years Of Experience and We offer top  services to help you maximize
                        your income.
                    </p>
                    <div class="hero_actions" data-aos="fade-up" data-aos-delay="400">
                        <a class="btn_primary" href="#case">Learn More</a>
                        <div class="hero_play">
                            <a class="play_btn" href="#" aria-label="Play video">
                                <i class="bi bi-play-fill"></i>
                            </a>
                            <span>See Inside</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-lg-6">
                <div class="hero_visual">
                    <div class="hero_shape hero_shape_star" data-aos="zoom-in" data-aos-delay="600">
                        <svg width="60" height="60" viewBox="0 0 60 60" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M30 0L36 24L60 30L36 36L30 60L24 36L0 30L24 24L30 0Z" fill="#6864ED" />
                        </svg>
                    </div>
                    <div class="hero_shape hero_shape_circle" data-aos="zoom-in" data-aos-delay="700">
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="20" cy="20" r="18" stroke="#33CC79" stroke-width="3"
                                stroke-dasharray="4 4" />
                        </svg>
                    </div>
                    <div class="hero_shape hero_shape_arrow" data-aos="fade-right" data-aos-delay="800">
                        <svg width="80" height="40" viewBox="0 0 80 40" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M2 20 Q 20 5, 40 20 T 78 20" stroke="#EED064" stroke-width="2" fill="none"
                                stroke-linecap="round" />
                            <path d="M70 14 L 78 20 L 70 26" stroke="#EED064" stroke-width="2" fill="none"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <div class="hero_shape hero_shape_dot" data-aos="zoom-in" data-aos-delay="900">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 0L12 8L20 10L12 12L10 20L8 12L0 10L8 8L10 0Z" fill="#FF7425" />
                        </svg>
                    </div>
                    <div class="hero_image" data-aos="fade-left" data-aos-delay="500">
                        <img src="{% static 'images/hero3.jpg' %}"
                            alt="SOCIAL EXPERTS">
                    </div>
                </div>
            </div>
        </div>

        <div class="row hero_bottom">
            <div class="col-xl-5 col-lg-5" data-aos="fade-up" data-aos-delay="200">
                <div class="hero_quote">
                    <h4 class="quote_title">"Make more money with our experts</h4>
                    <p class="quote_text">
                        Our vision at SOCIAL EXPERTS is to empower every user to achieve financial success. By
                        harnessing the expertise of our dedicated team, we are committed to providing innovative
                        solutions that enable our users to maximize their earnings potential. Together, let's embark
                        on a journey towards greater prosperity.
                    </p>
                    <div class="quote_author">
                        <div class="quote_avatar">
                            <img src="{% static 'images/hero-sm-img.webp' %}" alt="David Steward">
                        </div>
                        <div class="quote_meta">
                            <h5 class="quote_name">David Steward</h5>
                            <span>Founder of Experts</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-7 col-lg-7">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="hero_card">
                            <div class="hero_card_icon icon_green">
                                <i class="bi bi-cash-coin"></i>
                            </div>
                            <h4 class="hero_card_title">Service we can <br>help you with</h4>
                            <a href="#service" class="hero_card_link link_green">
                                <i class="bi bi-arrow-right"></i>
                                <span>Our Service</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6" data-aos="fade-up" data-aos-delay="400">
                        <div class="hero_card">
                            <div class="hero_card_icon icon_yellow">
                                <i class="bi bi-cash-coin"></i>
                            </div>
                            <h4 class="hero_card_title">Why you should choose us</h4>
                            <a href="#about" class="hero_card_link link_yellow">
                                <i class="bi bi-arrow-right"></i>
                                <span>About us</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End =============================== -->


<!-- About Section Start =============================== -->
<section class="about_section" id="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-5 order-2 order-lg-1" data-aos="fade-right">
                <div class="about_visual">
                    <div class="about_shape about_shape_star">
                        <svg width="50" height="50" viewBox="0 0 50 50" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M25 0L30 20L50 25L30 30L25 50L20 30L0 25L20 20L25 0Z" fill="#33CC79" />
                        </svg>
                    </div>
                    <div class="about_shape about_shape_ring">
                        <svg width="50" height="50" viewBox="0 0 50 50" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="25" cy="25" r="22" stroke="#6864ED" stroke-width="2"
                                stroke-dasharray="3 3" />
                        </svg>
                    </div>
                    <div class="about_image">
                        <img src="{% static 'images/team1.jpg' %}" alt="About SOCIAL EXPERTS">
                    </div>
                </div>
            </div>

            <div class="col-xl-7 col-lg-7 order-1 order-lg-2" data-aos="fade-left">
                <div class="about_content">
                    <span class="section_subtitle subtitle_green">Who we are?</span>
                    <h2 class="section_title">Company that believes in the power of creative strategy.</h2>
                    <p class="about_text">
                        We are your well wisher and advisors we are not your boss not your any kind of order giving
                        person we just have an idea which we are sharing all over country.
                    </p>
                    <a class="btn_primary" href="{% url 'core:about' %}">About our Agency</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End =============================== -->


<!-- Service Section Start =============================== -->
<section class="service_section" id="service">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5" data-aos="fade-right">
                <div class="service_intro">
                    <span class="section_subtitle subtitle_yellow">What we can do for you?</span>
                    <h2 class="section_title">We make spending stress free so you have the perfect control.</h2>
                    <p class="service_text">
                        We provide withdrawals on different style. No time restrictions, no specific experience, no
                        age limits, no work force. 24/7 support team and customer care services.
                    </p>
                    <ul class="service_list">
                        <li>Weekly withdrawal</li>
                        <li>15 Days withdrawal</li>
                        <li>Monthly withdrawal</li>
                    </ul>
                    <div class="service_intro_bottom">
                        <h4 class="service_bottom_title">We will ensure you always get the best Digital Service</h4>
                        <a class="btn_primary" href="{% url 'core:services' %}">See all Services</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-7 col-lg-7">
                <div class="service_cards">
                    <div class="service_card card_yellow" data-aos="fade-up" data-aos-delay="100">
                        <div class="service_card_content">
                            <h4 class="service_card_title">Digital <br>Marketing</h4>
                            <a href="#" class="service_card_link">
                                <span class="link_arrow"><i class="bi bi-arrow-right"></i></span>
                                Read More
                            </a>
                        </div>
                        <div class="service_card_icon">
                            <i class="bi bi-bar-chart-line"></i>
                        </div>
                    </div>

                    <div class="service_card card_green" data-aos="fade-up" data-aos-delay="200">
                        <div class="service_card_content">
                            <h4 class="service_card_title">IT <br>Services</h4>
                            <a href="#" class="service_card_link">
                                <span class="link_arrow"><i class="bi bi-arrow-right"></i></span>
                                Read More
                            </a>
                        </div>
                        <div class="service_card_icon">
                            <i class="bi bi-laptop"></i>
                        </div>
                    </div>

                    <div class="service_card card_blue" data-aos="fade-up" data-aos-delay="300">
                        <div class="service_card_content">
                            <h4 class="service_card_title">Any kind Custom <br>Solution</h4>
                            <a href="#" class="service_card_link">
                                <span class="link_arrow"><i class="bi bi-arrow-right"></i></span>
                                Read More
                            </a>
                        </div>
                        <div class="service_card_icon">
                            <i class="bi bi-gear-wide-connected"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Service Section End =============================== -->


<!-- Case Section Start =============================== -->
<section class="case_section" id="case">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-12" data-aos="fade-up">
                <div class="section_head text-center">
                    <span class="section_subtitle subtitle_green">Check our Work</span>
                    <h2 class="section_title">Some of our recent case studies</h2>
                </div>
            </div>
        </div>

        <div class="row case_grid">
            <div class="col-xl-6 col-lg-6 col-md-6" data-aos="fade-right" data-aos-delay="100">
                <div class="case_item">
                    <img src="{% static 'images/pj1.jpeg' %}" alt="Case Study 1">
                    <a href="#" class="case_overlay" aria-label="View case study">
                        <i class="bi bi-arrow-up-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6" data-aos="fade-left" data-aos-delay="200">
                <div class="case_item">
                    <img src="{% static 'images/pj2.jpeg' %}" alt="Case Study 2">
                    <a href="#" class="case_overlay" aria-label="View case study">
                        <i class="bi bi-arrow-up-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6" data-aos="fade-right" data-aos-delay="300">
                <div class="case_item">
                    <img src="{% static 'images/pj3.jpeg' %}" alt="Case Study 3">
                    <a href="#" class="case_overlay" aria-label="View case study">
                        <i class="bi bi-arrow-up-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6" data-aos="fade-left" data-aos-delay="400">
                <div class="case_item">
                    <img src="{% static 'images/pj4.jpeg' %}" alt="Case Study 4">
                    <a href="#" class="case_overlay" aria-label="View case study">
                        <i class="bi bi-arrow-up-right"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="text-center case_more" data-aos="fade-up">
            <a class="btn_primary" href="{% url 'core:projects' %}">All Case Studies</a>
        </div>
    </div>
</section>
<!-- Case Section End =============================== -->


<!-- Testimonial Section Start =============================== -->
<section class="testimonial_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-12" data-aos="fade-right">
                <div class="testimonial_intro">
                    <span class="section_subtitle subtitle_yellow">Happy customer feedback</span>
                    <h2 class="section_title">Happy customer feedback</h2>
                    <h4 class="testimonial_subtext">We love our client and our clients <br>loved us. See all
                        feedback</h4>
                    <a class="btn_primary" href="#">See all Feedback</a>
                </div>
            </div>

            <div class="col-xl-6 col-lg-12">
                <div class="testimonial_list">
                    <div class="testimonial_card card_yellow" data-aos="fade-up" data-aos-delay="100">
                        <div class="testimonial_icon">
                            <i class="bi bi-quote"></i>
                        </div>
                        <p class="testimonial_text">
                            "I'm happy with the website's honesty and how it explains how to make money. It's easy
                            to use, and I like that they're making it even safer. I hope they add more ways for us
                            to talk to each other and make more money together."
                        </p>
                        <div class="testimonial_author">
                            <div class="testimonial_user">
                                <img src="{% static 'images/testi-img-1.webp' %}" alt="M. Ali">
                                <h5 class="user_name">M. Ali</h5>
                            </div>
                            <div class="testimonial_stars">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>
                        </div>
                    </div>

                    <div class="testimonial_card card_green" data-aos="fade-up" data-aos-delay="200">
                        <div class="testimonial_icon">
                            <i class="bi bi-quote"></i>
                        </div>
                        <p class="testimonial_text">
                            "As someone using the website to make money, I'm glad it feels trustworthy and shows me
                            how to earn. It's really simple to use, and I appreciate them making it safer. I'm
                            looking forward to them adding more ways for us users to connect and boost our
                            earnings."
                        </p>
                        <div class="testimonial_author">
                            <div class="testimonial_user">
                                <img src="{% static 'images/testi-img-2.webp' %}" alt="Misbah Malik">
                                <h5 class="user_name">Misbah Malik</h5>
                            </div>
                            <div class="testimonial_stars">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>
                        </div>
                    </div>

                    <div class="testimonial_card card_blue" data-aos="fade-up" data-aos-delay="300">
                        <div class="testimonial_icon">
                            <i class="bi bi-quote"></i>
                        </div>
                        <p class="testimonial_text">
                            "As a user making money on the site, I'm happy it's genuine and clear about earning
                            opportunities. It's user-friendly, and I appreciate efforts to enhance security. Adding
                            more ways for us users to engage and earn together would be fantastic."
                        </p>
                        <div class="testimonial_author">
                            <div class="testimonial_user">
                                <img src="{% static 'images/testi-img-3.webp' %}" alt="Zainab Shafique">
                                <h5 class="user_name">Zainab Shafique</h5>
                            </div>
                            <div class="testimonial_stars">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Section End =============================== -->


<!-- Brand Section Start =============================== -->
<section class="brand_section">
    <div class="container">
        <div class="brand_head" data-aos="fade-up">
            <h4 class="brand_title"><span>Over 100+</span> Daily Withdrawals</h4>
        </div>

        <div class="swiper brand_slider" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="brand_item"><img src="{% static 'images/brand-1.webp' %}"
                            alt="Brand 1"></div>
                </div>
                <div class="swiper-slide">
                    <div class="brand_item"><img src="{% static 'images/brand-2.webp' %}"
                            alt="Brand 2"></div>
                </div>
                <div class="swiper-slide">
                    <div class="brand_item"><img src="{% static 'images/brand-3.webp' %}"
                            alt="Brand 3"></div>
                </div>
                <div class="swiper-slide">
                    <div class="brand_item"><img src="{% static 'images/brand-4.webp' %}"
                            alt="Brand 4"></div>
                </div>
                <div class="swiper-slide">
                    <div class="brand_item"><img src="{% static 'images/brand-5.webp' %}"
                            alt="Brand 5"></div>
                </div>
                <div class="swiper-slide">
                    <div class="brand_item"><img src="{% static 'images/brand-6.webp' %}"
                            alt="Brand 6"></div>
                </div>
                <div class="swiper-slide">
                    <div class="brand_item"><img src="{% static 'images/brand-7.webp' %}"
                            alt="Brand 7"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Brand Section End =============================== -->


<!-- Blog Section Start =============================== -->
<section class="blog_section" id="blog">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6" data-aos="fade-up">
                <div class="section_head text-center">
                    <span class="section_subtitle subtitle_green">Our Blog Article</span>
                    <h2 class="section_title">Read our Latest stories</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-6 col-lg-6" data-aos="fade-right" data-aos-delay="100">
                <article class="blog_card">
                    <a href="#" class="blog_thumb">
                        <img src="{% static 'images/pj2.jpeg' %}" alt="Blog Post 1">
                    </a>
                    <div class="blog_meta">
                        <span class="blog_tag">Tutorials</span>
                        <span class="blog_date">February 20, 2024</span>
                    </div>
                    <h4 class="blog_title">
                        <a href="#">How to Increase Your ROI Through scientific SEM?</a>
                    </h4>
                    <a href="#" class="blog_link">
                        <span class="link_arrow link_arrow_green"><i class="bi bi-arrow-right"></i></span>
                        Read More
                    </a>
                </article>
            </div>

            <div class="col-xl-6 col-lg-6" data-aos="fade-left" data-aos-delay="200">
                <article class="blog_card">
                    <a href="#" class="blog_thumb">
                        <img src="{% static 'images/pj1.jpeg' %}" alt="Blog Post 2">
                    </a>
                    <div class="blog_meta">
                        <span class="blog_tag tag_green">Design</span>
                        <span class="blog_date">February 20, 2024</span>
                    </div>
                    <h4 class="blog_title">
                        <a href="#">ECommerce Marketing Statistics You Should Know</a>
                    </h4>
                    <a href="#" class="blog_link">
                        <span class="link_arrow link_arrow_green"><i class="bi bi-arrow-right"></i></span>
                        Read More
                    </a>
                </article>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End =============================== -->

{% endblock %}
